.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: 16px auto 0 60px;
  padding: 4px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: -38px -9px 0 129px;
}

.u-section-1 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0 61px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -48px -9px 0 129px;
}

.u-section-1 .u-image-1 {
  min-height: 367px;
  background-image: url("/images/339689478_6514604151892227_423778209426313925_n.jpg");
  background-position: 50% 75.65%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 645px;
    margin-left: 79px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 590px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}